// * {
//   box-sizing: border-box;
//   list-style: none;
// }

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input, label {
  display: block;
}
.low-warning {
  background: red;
}
.price-high {
  color: red;
}
.price-medium { // these orders matter! try flipping these and it breaks!
  color: gold;
}
.price-low { // these orders matter! try flipping these and it breaks!
  color: green;
}
