<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div>

  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>On Tap List:</h2>
  <ul *ngFor="let keggy of kegs">
    <h3>{{keggy.name}}</h3>
    <p><strong>Brewery:</strong> {{keggy.brand}}</p>
    <li>{{keggy.price}}</li>
    <li>{{keggy.alcoholContent}}</li>
    <li>pt's remaining: {{keggy.pintsLeft}}</li>
  </ul>
  </div>
  <div>
    <h2>Keg Hookup:</h2>
    <p>{{name}} {{brand}} {{price}} {{alcoholContent}}</p>
    <form id="kegForm">
      <label>Libation Callsign</label>
      <input #val-name [(ngModel)]="name" type="text" name="keg-input">
      <label>Brand name</label>
      <input #val-brand [(ngModel)]="brand" type="text" name="keg-input">
      <label>Price $</label>
      <input #val-price [(ngModel)]="price" type="text" name="keg-input">
      <label>ABV %</label>
      <input #val-alcoholContent [(ngModel)]="alcoholContent" type="text" name="keg-input">
      <button (click)="hookUp(name.value, brand.value, price.value, alcoholContent.value)">Hookup!</button>
    </form>
  </div>
</section>
